.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    width: fit-content;
}

.white{
    height: 100px;
    width: 100px;
    background-color: beige;
}

.black{
    height: 100px;
    width: 100px;
    background-color: rgb(124, 64, 36);
}