<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parsing Data</title>
</head>
<body>
  <% if (fullName) { %>
    <% console.log(fullName) %> 
    <h1>There are <%= fullName.length %> in your name</h1>
  <% } else { %>
    <h1>Enter your name below: </h1>
  <% } %> 

  <form action="/submit" method="post">
    <input type="text" placeholder="First Name" name="fname">
    <input type="text" placeholder="Last Name" name="lname">
    <input type="submit" value="OK">
  </form>
</body>
</html>